<!DOCTYPE html>
<html>
	<head>
		<title>Create</title>
	</head>
	<body>
		<h1>Create User</h1>

		<form method="post">
			<b>First Name</b> <input type="text" name="firstname" /><br />
			<b>Last Name</b> <input type="text" name="lastname" /><br />
			<b>Age</b> <input type="text" name="age" /><br />
			<b>Address</b> <input type="text" name="address" /><br />

			<input type="submit" name="submit" value="Submit" />
			<input type="reset" name="reset" value="Reset" /><br />
		</form>
	</body>
</html>
